In [42]:
import pandas as pd
import os
import csv

In [77]:
# Set the base directory, __file__ is a special Python variable that contains the path to the script being executed.
base_dir = os.path.dirname(os.path.abspath('.'))
# Join the base directory with the subdirectory containing the CSV files
csv_dir = os.path.join(base_dir, 'atp_dataset')

#### Renames all atp singles matches .csv's to contain 'singles' that may be referenced later
Do not run again, saved only for reference.

In [78]:
# Get list of all professional atp mens singles csv files
#new_var = csv_dir
#singles_files = [f for f in os.listdir(new_var) if 'atp_matches_1' in f or 'atp_matches_2' in f]

# Iterate through and rename the list of CSV files to improve referencing later
#for file in singles_files:
#    old_file_path = os.path.join(csv_dir, file)
#    new_file_path = os.path.join(csv_dir, file.replace('atp_matches', 'atp_matches_singles'))
    # Rename the file
#    os.rename(old_file_path, new_file_path)

#### Select data filters for .csv selection
Match types [Years Available]: 
* Singles [1968-2023]
* Doubles [2000-2020]
* futures [1991-2023]
* Challenge [1978-2023]

In [76]:
# Select filters on data
match_type = 'futures'          #[singles, doubles, futures, challenges]
start_year = 2010
end_year = 2010

# Get a list of all the CSV files in the subdirectory
all_csv_files = [f for f in os.listdir(csv_dir) if f.endswith('.csv')]
csv_files = [f for f in all_csv_files if match_type.lower() in f and start_year <= int(f[-8:-4]) <= end_year]

# Creates dictionary of dataframes from each filtered csv file 
df_dict = {}
df = pd.DataFrame
for file in csv_files:
    name = file.replace('.csv','')
    df_dict[name] = pd.read_csv(os.path.join(csv_dir, file))

df_dict.keys()

dict_keys(['atp_matches_futures_2010'])

In [75]:
df_dict['atp_singles_matches_2010']

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,NaN,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,NaN,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,NaN,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,4,104925,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6035.0,12.0,2485.0
3026,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,5,104678,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,1360.0,23.0,1575.0
3027,2010-615,Dusseldorf,Clay,32,A,20100516,291,104724,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,835.0,56.0,805.0
3028,2010-615,Dusseldorf,Clay,32,A,20100516,285,103908,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.0,805.0,504.0,58.0
3029,2010-615,Dusseldorf,Clay,32,A,20100516,280,104676,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,80.0,615.0,56.0,805.0